html, body {
  font-family: Arial, sans-serif;}

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .top-row {
    order: 1;
    display:inline-block;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 500px;
  }

  .top-row button {
    font-size: 15px;
  }

  .work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 225px;
  }

  .break-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 225px;
  }
  .timer{
    order: 2;
  }

  #demo {
    font-size: 200px;
  }

  #timer-buttons {
    display: flex;
    justify-content: space-between;  
    }

button {
font-family: Arial, sans-serif
}

.timer button {
  font-size: 15px;
}