html, body {
  font-family: Arial, sans-serif;}

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .top-row {
    order: 1;
    display:inline-block;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex: inherit;
  }

  .work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .break-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .timer{
    order: 2;
  }

  #demo {
    font-size: 200px;
  }

  #timer-buttons {
    display: flex;
    justify-content: space-between;  }